# Compiled Object files *.obj  .obj is a model file format I use sometimes
*.slo
*.lo
*.o

# Precompiled Headers will require recompiling with every pull if we work in the working directory so... have to think about this one the .pch is 500 mb
*.gch
*.pch

# Compiled Dynamic libraries *.dll should need dlls for plugins
*.so
*.dylib

# Fortran module files dont think well use fortran lol commenting this out *.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
*.sln

# Executables
*.out
*.pp

#Blender Simulations
*.bphys
*.code-workspace
# Blender Autosaves
*.blend1

# Unreal temp files
Binaries/
Intermediate/
Saved/
ProjectBounce/Intermediate/
ProjectBounce/Saved/

.vs/ProjectBounce/
# Created by https://www.gitignore.io/api/visualstudiocode
# Edit at https://www.gitignore.io/?templates=visualstudiocode

### VisualStudioCode ###
.vscode/**/*   # Maybe .vscode/**/* instead - see comments
.vscode/c_cpp_properties.json
.vscode/compileCommands_Default.json
.vscode/compileCommands_ProjectBounce.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
**/.history

# End of https://www.gitignore.io/api/visualstudiocode
# if this doesnt work may need to set the files weve already commmited int hose directorys (tracked) to untracked using files #tracked before can be untracked by running git rm --cached filename


# Windows
Thumbs.db
*.log
*.tmp
